.about-heading {
  text-align: justify;
  text-justify: inter-word;
  max-width: 80%;
  margin: 0 auto;
}

.certificates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.current-certificate {
  padding: 5px;
}