h2 {
  color: #bad26a;
  font-size: 22px;
  font-weight: 400;
}

.last-projects {
  width: 50%;
  margin:0 auto;
  justify-content: space-around;
  display: flex;
  margin-bottom: 20px;
}

.scholarship .card {
  padding: 0;
}

.scholarship .card-body {
  margin: 0;
}

.card {
  justify-content: center;
}

.card-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: #bad26a;
}

p.card-text, h4.card-title {
  padding: 0 10px;
}

.days-left {
  background-color: #bad26a;
}

.btn-proj {
  background-color: #bad26a;
}

.card-text {
  margin-top: 5px;
}

.card-body {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}


.pending-project {
  margin-right: 30px;
  margin: 0 auto;
  display: inline;
}

p.mb-0 {
  padding: 10px;
}

.card {
  margin: 10px;
  padding: 5px;
  max-width: 280px;
}

.admin-preview > h1 {
  font-size: 16px;
  font-weight: 400;
}

.about-me {
  padding: 10px;
  max-width: 500px;
  margin: 20px auto;
  text-align: justify;
  text-justify: inter-word;
  border: 1px solid #bad26a;
  border-radius: 5px;
}

p {
  padding: 0;
  margin: 0;
}

.service-title {
  font-weight: 500;
}

.current-service {
  padding-left: 10px;
}

.self-present {
  margin: 0 auto;
  max-width: 650px;
}

.services {
  display: inline;
}

.admin-img, .admin-img img {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  border-radius: 40px;
}

.admin-preview {
  vertical-align: middle;
  padding-left: 20px;
  display: inline-block;
  max-width: 500px;
  text-align: justify;
}

.provided-services {
  margin: 20px auto;
  display: table;
}

div.backend-service {
  display: table-cell;
}

div.frontend-service {
  margin-left: 50px;
  display: table-cell;
}

div.frontend-service img {
  width: 50%;
  margin-bottom: 20px;
}

div.backend-service img {
  width: 50%;
  margin-bottom: 20px;
}
@media (max-width: 620px ) {
  .last-projects {
    width: 100%;
    display: block;
  } 

  .card {
    margin: 0 auto 20px;
    padding: 5px;
    max-width: 100%;
  }
  .self-present > div {
    margin: 0 auto;
  }

  .admin-preview {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }

  .admin-img, .admin-img img {
    margin: 0;
    padding: 0;
    display: block;
  }
 }

 @media (min-width: 620px ) and (max-width: 660px ) {
  .admin-preview {
    margin-left: 10px;
    max-width: 80%;
    display: inline-block;
  }

  .pending-project, .last-project {
    display: block;
    margin: 20px auto;
  }

  .admin-img, .admin-img img {

    display: inline-block;
  }
 }

 




 

