h2 {
  color: #bad26a;
  font-size: 22px;
  font-weight: 400;
}

.about-me {
  padding: 10px;
  max-width: 500px;
  margin: 20px auto;
  text-align: justify;
  text-justify: inter-word;
  border: 1px solid #bad26a;
  border-radius: 5px;
}

p {
  padding: 0;
  margin: 0;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.service-title {
  font-weight: 500;
}

.current-service {
  padding-left: 10px;
}

.self-present {
  margin: 0 auto;
  max-width: 650px;
}

.services {
  display: inline;
}

.admin-img, .admin-img img {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  border-radius: 40px;
}

.admin-preview {
  vertical-align: middle;
  padding-left: 20px;
  display: inline-block;
  max-width: 500px;
  text-align: justify;
}