.wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

h2 {
  color: #bad26a;
  font-size: 22px;
  font-weight: 400;
}

.last-projects {
  width: 50%;
  margin:0 auto;
  justify-content: space-around;
  display: flex;
  margin-bottom: 20px;
}

p.mb-0 {
  padding: 10px;
}

.admin-preview > h1 {
  font-size: 16px;
  font-weight: 400;
}

.about-me {
  padding: 10px;
  max-width: 500px;
  margin: 20px auto;
  text-align: justify;
  text-justify: inter-word;
  border: 1px solid #bad26a;
  border-radius: 5px;
}

p {
  padding: 0;
  margin: 0;
}

.service-title {
  font-weight: 500;
}

.current-service {
  padding-left: 10px;
}

.self-present {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.personal-block {
  display: flex;
  flex-direction: row;
}
.services {
  display: inline;
}

.admin-img, .admin-img img {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  border-radius: 40px;
}

.admin-preview {
  vertical-align: middle;
  padding-left: 20px;
  display: inline-block;
  max-width: 500px;
  text-align: justify;
}

.provided-services {
  margin: 20px auto;
  display: table;
}

div.backend-service {
  display: table-cell;
}

div.frontend-service {
  margin-left: 50px;
  display: table-cell;
}

div.frontend-service img {
  width: 50%;
  margin-bottom: 20px;
}

div.backend-service img {
  width: 50%;
  margin-bottom: 20px;
}

.current-service {
  padding-left: 30px;
  list-style-type: none;
}
.news {
  flex-wrap: wrap;
}

.card-img {
  width: 250px;
  height: 170px !important;
  max-width: none !important;
}

.card > .row {
  margin: 0;
  padding: 13px 0;
}

.row > .body {
  margin: auto;
}

.btn-light {
  background-color: #bad26a;
  border: 1px solid #bad26a;
  border-radius: 5px;
}

.btn-outline-light {
  border: 1px solid #bad26a;
  border-radius: 5px;
  color: #bad26a !important;
}

@media (max-width: 620px ) {
  .wrapper {
    flex-direction: column;
  }

  .last-projects {
    width: 100%;
    display: block;
  } 
  .self-present > div {
    margin: 0 auto;
  }

  .admin-preview {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }

  .admin-img, .admin-img img {
    margin: 0;
    padding: 0;
    display: block;
  }
 }

 @media (min-width: 620px ) and (max-width: 660px ) {
  .admin-preview {
    margin-left: 10px;
    max-width: 80%;
    display: inline-block;
  }

  .pending-project, .last-project {
    display: block;
    margin: 20px auto;
  }

  .admin-img, .admin-img img {

    display: inline-block;
  }
 }

 




 

