
.wrapper .card {
  color: black;
}
.card {
  border: 1px solid #c1d979;
}

.project-list-img {
  width: 200px;
  height: 200px;
}
.project-box {
  max-height: 450px;
  margin-bottom: 20px;
}
.view > img {
  height: 100%;
  max-height: 150px;
}
.wrapper > .card portfolio {
  max-width: 200px;
}

.img-fluid {
  margin: 0 auto;
  max-height: 300px;
}

.btn_read_more {
  padding: 5px;
}

.btn_read_more:hover {
  background-color: #bad26a;
}

.btn_read_more:focus {
  background-color: #bad26a;
}

hr {
  background-color: #bad26a
}

.title-progress {
  display: block;
}

h4.card-title {
  display: inline;
  vertical-align: middle;
}

.title-progress > span {
  margin-left: 5px;
}

p.card-text {
  text-justify: inter-word;
}
