.footer {
  border-top: 1px solid #bad26a;
  border-radius: 5px 5px 0px 0px;
  width:100%;
  margin-top: 50px;
  padding-top: 20px;
}

.title {
  margin-top: 10px;
  font-weight: 500;
}

.row {
  margin: 0 auto;
}


li {
  padding-left: 15px;
}

footer  a {
  padding: 0;
  margin: 0;
}