@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../node_modules/semantic-ui-css/semantic.min.css';
@import '../node_modules/mdbootstrap/css/bootstrap.min.css';
@import '../node_modules/mdbootstrap/css/mdb.min.css';
@import '../node_modules/mdbootstrap/css/style.css';
@import '../node_modules/toastr/build/toastr.min.css';
@import './Components/Contact.css';

html{
    max-width: 1920px;
    margin: 0 auto;
    min-height: 850px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
.wrapper {
  margin: 20px auto;
}

#root {
  flex: 1;
  color: black;  
}
.col-md-auto {
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}